a, a:visited{
    border: 1px solid black;
    color: #000;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
}
a:hover{
    background-color: #FF00FF;
} 

#buttons{
    display: none;
}

#toolbar{
    display: flex;
}
p{
    text-align: center;
}
h1{
    text-align: center;
}
.bg-text{
    background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
color: white;
font-weight: bold;
font-size: 80px;
border: 10px solid black;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
width: 300px;
padding: 20px;
text-align: center;
  }
 